// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";
@import "preloader.scss";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #202020;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100vw;
}

.background-wrapper,
footer {
  background-color: #202020;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    transform: scale(1.5);
  }
  transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $brand-white;
  color: $brand-primary;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 10px;
}

.is-mobile {
  display: none;
}

.section-descr {
  color: $brand-gray;
  max-width: 600px;
  width: 100%;
  margin-bottom: 30px;
}

.header__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  flex: 0 0 auto;
  width: 200px;
  height: 64px;
  overflow: hidden;
  img {
    object-fit: contain;
    height: 100%;
    object-position: left;
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  position: fixed;
  right: 0;
  top: 124px;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: $brand-primary;
  z-index: 999;
  padding: 30px 0;
  a {
    color: #fff;
    text-align: right;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 600;
  }
}
.mobile-menu__wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 94px);
  padding: 0px 20px;
}
.mobile-menu__phones {
  margin-top: 60px;
  .phone-link {
    white-space: nowrap;
    font-size: 28px;
    margin-bottom: 0;
  }
  .phone_nameplate {
    text-align: right;
    margin-bottom: 15px;
  }
}
header {
  transition: background-color 0.3s ease-in-out;
  &.active {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.header__nav {
  padding: 0px 15px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $brand-primary;
      height: 0;
      transition: height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      z-index: -1;
    }
    padding: 0px 15px;
    &:hover {
      &:before {
        height: 100%;
      }
    }
  }
  a {
    color: #fff;
    padding: 10px 0;
  }
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .phone-link {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  .phone-block {
    padding: 0 30px;
  }
  .burger-menu {
    display: none;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 500;
    & > span {
      margin-left: 12px;
    }
    &.active {
      .burger-menu__ico {
        transform: rotate(-90deg) translatex(3px);
        span:nth-of-type(1) {
          transform: rotate(-45deg) translate(-8px, 2px);
        }
        span:nth-of-type(2) {
          transform: scale(0);
        }
        span:nth-of-type(3) {
          transform: rotate(45deg) translate(-8px, -2px);
        }
      }
    }
  }
  .burger-menu__ico {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-35deg);
    span {
      transition: transform 0.3s ease-in-out;

      height: 2px;
      width: 24px;
      background-color: #fff;
      margin: 5px 0;
      &:nth-of-type(2) {
        transform: translateX(-5px);
      }
    }
  }
  .phone-ico {
    display: none;
  }
}
.header__lang {
  margin: 0px 10px;
  display: none;
}

.phone-block {
  position: relative;
  .phone-block__dropdown {
    visibility: hidden;
    opacity: 0;
    background-color: $brand-primary;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 20px 30px;
    z-index: 5;
    border-radius: 5px;
    transform: translateY(-20px);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  &:hover {
    .phone-block__dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
  .phone_nameplate {
    font-size: 14px;
    text-align: right;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.slider-section {
  padding-bottom: 130px;
  position: relative;
}

.slider-section__slider {
  overflow: visible;
  padding-top: 8vh;
  padding-left: 100px;
  .slide__content {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .slide__text {
    flex: 1 0 calc(55% - 30px);
  }
  .slide__image {
    flex: 1 0 calc(45% - 30px);
  }

  .main-slider__title {
    .litle-margin {
      margin-right: 16px;
    }
    flex-wrap: wrap;
    margin-bottom: 20px;
    line-height: 140%;
    font-size: calc($index * 2.5);
    display: flex;
    .filled {
      width: fit-content;
      // margin: 0 16px;
      line-height: 100%;
      display: flex;
      align-items: center;
      padding: 0px 24px;
      position: relative;
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 0.4s ease-in-out 0s, transform 0.8s ease-in-out 0s;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        transition: height 0.8s ease-in-out 0s, width 0.8s ease-in-out 0.3s;
        background-color: $brand-primary;
        z-index: -1;
      }
    }
  }
  .main-slider__descr {
    font-size: calc($index * 1.3);
    margin-bottom: 15px;
  }
  .main-slider__nameplate {
    font-size: 18px;
    color: #d5d5d5;
    .filled-white {
      display: inline;
      padding: 3px 2px;
      margin: 0px 2px;
      background-color: $brand-primary;
      width: fit-content;
    }
  }
  .slide__btns {
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.swiper-slide__image-container {
  width: 100%;
  height: 0;
  padding-top: 76%;
  position: relative;
  .swiper-slide__image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.main-slider__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  .navigation__btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .swiper-pagination-progressbar {
    width: 100%;
    position: relative;
    background: #505050;
    border-radius: 4px;
    margin-right: 30px;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: $brand-primary;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 24px;
    width: 32px;
    position: static;
    margin: 0;
    transform: none;
    padding: 0 10px;
    transition: opacity 0.3s ease-in-out;
    &::after {
      display: none;
    }
    svg {
      transition: transform 0.3s ease-in-out;
      path {
        transition: fill 0.3s ease-in-out;
      }
    }
    &:hover {
      svg {
        transform: scale(1.1);
        path {
          fill: $brand-primary;
        }
      }
    }
  }
  .swiper-pagination {
    max-width: 635px;
  }
  .slider-counter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
  }
  .current-counter {
    font-size: 32px;
    line-height: 100%;
    margin-right: 8px;
    margin-bottom: -2px;
  }
  .general-counter {
    font-size: 18px;
    line-height: 100%;
  }
}

.slider-action {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translate(-20%, -100%);
  left: 0;
  bottom: 0;
  .slider-action__mouse {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.box-shadow {
  transform: translateY(5px);
  width: 0px;
  height: 0px;
  box-shadow: 0px 0px 150px 100px rgba(255, 255, 255, 0.1);
  animation: shadowAnim 8s ease-in-out infinite 0s;
}

.top-to-down {
  animation: topToDonw 3s ease-in-out infinite 0s;
}

@keyframes topToDonw {
  0% {
    transform: translateY(10px);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}
@keyframes shadowAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowAnimv2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blue-bg {
  width: 332px;
  height: 332px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 40%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 150px 100px rgba(4, 99, 241, 0.4);
  background-color: rgba(4, 99, 241, 0.4);
  animation: shadowAnimv2 6s ease-in-out infinite 0s;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  .main-slider__title .filled {
    transform: translateY(0%);
    opacity: 1;
    &::before {
      height: 100%;
      width: 100%;
    }
  }
}

.slider__footer {
  margin-left: -100px;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .slider__footer-links {
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a {
      padding: 5px 0;
      display: flex;
      align-items: flex-start;
      color: $brand-white;
      &:first-child {
        margin-right: 3vw;
      }
      .nameplate {
        font-size: 13px;
        margin-left: 5px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.projects-section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.works-list {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .works-list__item {
    &.large {
      padding: calc($index * 2);
      padding-right: 20px;
      grid-column: span 2;
      grid-row: span 2;
      height: auto;

      @media (max-width: 1380px) {
        padding: calc($index);
      }
      @media (max-width: 1024px) {
        grid-row-end: 10;
        .fillBtn {
          display: none;
        }
      }
    }
    height: 0;
    position: relative;
    padding-top: 100%;
  }
  .image-container__shape {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 31, 0.5);
    transition: opacity 0.5s ease 0.2s;
    opacity: 0;
    &::after {
      position: absolute;
      content: "";
      width: 60%;
      height: 60%;
      top: 20%;
      left: 19%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='256' height='256' viewBox='0 0 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='256' height='256' rx='128' fill='%230463F1'/%3e%3cpath d='M110.075 230.728L106.675 238.31L104.787 238.043L109.469 228.124L111.316 228.385L112.658 236.405L116.171 229.072L118.017 229.333L119.766 240.161L117.878 239.894L116.711 231.688L113.148 239.225L111.405 238.979L110.075 230.728Z' fill='white'/%3e%3cpath d='M87.7067 226.342L95.9819 229.274C96.1187 228.344 95.9597 227.517 95.505 226.793C95.0456 226.082 94.3419 225.559 93.3939 225.223C92.0904 224.761 90.9721 224.905 90.0391 225.657L88.8715 224.309C90.373 223.167 92.0849 222.936 94.0072 223.617C95.5609 224.168 96.6655 225.107 97.3209 226.436C97.9406 227.782 97.9869 229.199 97.4598 230.687C96.9279 232.188 96.0088 233.255 94.7024 233.889C93.3913 234.536 91.9722 234.589 90.4448 234.048C88.9965 233.534 88 232.603 87.4554 231.254C86.8883 229.927 86.8614 228.539 87.3746 227.091C87.4632 226.841 87.5739 226.591 87.7067 226.342ZM91.0187 232.428C91.9272 232.75 92.7818 232.764 93.5826 232.47C94.3702 232.171 94.9927 231.606 95.4501 230.775L88.8536 228.438C88.6766 229.397 88.789 230.23 89.1911 230.936C89.5931 231.641 90.2023 232.139 91.0187 232.428Z' fill='white'/%3e%3cpath d='M66.0301 221.983C65.0192 221.361 64.4118 220.535 64.2081 219.508C63.9926 218.473 64.2218 217.408 64.8957 216.314L68.313 210.765L69.8652 211.721L66.4808 217.216C66.0632 217.894 65.9157 218.533 66.0381 219.134C66.1412 219.739 66.4961 220.228 67.1027 220.601C67.7926 221.026 68.4766 221.128 69.1548 220.906C69.8137 220.688 70.4179 220.133 70.9673 219.241L74.022 214.281L75.5742 215.237L72.1898 220.732C71.7723 221.41 71.6187 222.046 71.7292 222.639C71.8205 223.236 72.1576 223.715 72.7404 224.074C73.4183 224.491 74.1179 224.594 74.8391 224.382C75.541 224.175 76.1594 223.637 76.6942 222.768L79.7489 217.809L81.301 218.765L75.8069 227.685L74.2548 226.729L74.991 225.534C73.7984 226.112 72.6193 226.042 71.4537 225.324C70.2524 224.584 69.6896 223.54 69.7651 222.192C68.524 222.822 67.279 222.752 66.0301 221.983Z' fill='white'/%3e%3cpath d='M48.8908 205.165L47.6373 206.46L46.3277 205.192L53.6152 197.665L54.9249 198.933L53.6714 200.228C55.2756 199.856 56.705 200.278 57.9594 201.492C59.0231 202.522 59.5521 203.773 59.5462 205.245C59.5406 206.737 59.0034 208.035 57.9346 209.139C56.8755 210.233 55.6005 210.807 54.1097 210.86C52.6189 210.914 51.3466 210.431 50.2929 209.41C49.0385 208.196 48.5711 206.781 48.8908 205.165ZM56.5695 202.597C55.8068 201.858 54.9218 201.497 53.9144 201.513C52.8876 201.55 52.0099 201.944 51.2811 202.697C50.5426 203.459 50.1815 204.344 50.1978 205.352C50.2043 206.369 50.5889 207.247 51.3516 207.986C52.1043 208.714 52.9892 209.066 54.0062 209.039C55.0136 209.023 55.8865 208.634 56.625 207.871C57.3537 207.118 57.7197 206.228 57.7229 205.201C57.7066 204.193 57.3222 203.325 56.5695 202.597Z' fill='white'/%3e%3cpath d='M41.0476 190.723L42.4504 183.372L43.7627 185.215L42.4874 191.987L46.5331 189.107L47.5902 190.592L35.6411 199.098L34.584 197.613L41.7705 192.497L35.3734 191.495L34.0126 189.584L41.0476 190.723Z' fill='white'/%3e%3cpath d='M29.7835 168.766L33.534 176.704C34.29 176.146 34.7648 175.45 34.9583 174.617C35.1391 173.79 35.0147 172.922 34.5851 172.013C33.9943 170.763 33.1036 170.071 31.9131 169.938L32.0464 168.16C33.9152 168.421 35.2852 169.473 36.1564 171.317C36.8606 172.807 36.9722 174.253 36.4911 175.654C35.9728 177.043 35.0001 178.074 33.5729 178.748C32.1331 179.428 30.7281 179.528 29.3578 179.048C27.975 178.574 26.9374 177.604 26.2452 176.139C25.5888 174.749 25.5472 173.386 26.1206 172.049C26.6628 170.712 27.6285 169.715 29.0178 169.058C29.2577 168.945 29.513 168.848 29.7835 168.766ZM27.7987 175.405C28.2104 176.276 28.8028 176.892 29.5759 177.253C30.3429 177.602 31.1824 177.645 32.0942 177.384L29.1045 171.057C28.2987 171.607 27.7871 172.274 27.5697 173.056C27.3524 173.839 27.4287 174.622 27.7987 175.405Z' fill='white'/%3e%3cpath d='M30.8208 157.632C30.9297 157.994 30.8953 158.339 30.7178 158.67C30.5403 159.001 30.271 159.221 29.9099 159.329C29.5488 159.438 29.2029 159.404 28.8722 159.226C28.5414 159.049 28.3217 158.78 28.2128 158.419C28.0999 158.044 28.1343 157.698 28.3158 157.381C28.4933 157.05 28.7626 156.83 29.1237 156.721C29.4849 156.613 29.8308 156.647 30.1615 156.824C30.4881 156.989 30.7079 157.258 30.8208 157.632Z' fill='white'/%3e%3cpath d='M22.0695 144.715L26.6421 138.79L26.98 141.028L22.783 146.493L27.6932 145.752L27.9654 147.554L13.4626 149.744L13.1905 147.941L21.9129 146.624L16.6584 142.841L16.3081 140.52L22.0695 144.715Z' fill='white'/%3e%3cpath d='M16.9731 122.585L24.4089 128.068L24.4976 122.495L26.2365 122.523L26.1081 130.589L24.893 130.57L17.4568 125.108L17.3751 130.24L15.6362 130.213L15.758 122.566L16.9731 122.585Z' fill='white'/%3e%3cpath d='M26.2685 93.4251L24.0375 100.74L22.354 100.227L24.585 92.9117L26.2685 93.4251Z' fill='white'/%3e%3cpath d='M44.0135 66.0244L38.7565 59.5896L39.8405 58.021L46.6128 66.649L45.5526 68.1831L37.781 65.7923L42.7651 72.2167L41.7049 73.7508L31.2398 70.4664L32.3238 68.8978L40.1844 71.5284L35.0398 64.9677L36.0405 63.5197L44.0135 66.0244Z' fill='white'/%3e%3cpath d='M57.9513 47.9882L51.6242 54.0746C52.3942 54.6131 53.2048 54.8412 54.056 54.759C54.8975 54.6666 55.6807 54.2718 56.4055 53.5746C57.4022 52.6159 57.7735 51.5512 57.5196 50.3805L59.2472 49.9398C59.5965 51.794 59.0363 53.428 57.5665 54.8419C56.3786 55.9846 55.0437 56.5514 53.562 56.5425C52.0811 56.494 50.7935 55.9009 49.6992 54.7634C48.5952 53.6157 48.0524 52.316 48.0707 50.8641C48.0792 49.4021 48.6674 48.1095 49.8352 46.9861C50.9426 45.9209 52.2213 45.4468 53.6712 45.5638C55.1119 45.651 56.3649 46.2483 57.4301 47.3557C57.6141 47.547 57.7878 47.7578 57.9513 47.9882ZM51.0263 48.2244C50.3317 48.8926 49.9367 49.6505 49.8412 50.4983C49.7558 51.3364 49.9821 52.1459 50.5202 52.9269L55.5638 48.0753C54.7849 47.4872 53.9899 47.2149 53.179 47.2584C52.368 47.302 51.6505 47.624 51.0263 48.2244Z' fill='white'/%3e%3cpath d='M71.5546 30.5575C72.564 29.9324 73.5738 29.7588 74.584 30.0369C75.6061 30.3076 76.4554 30.9893 77.132 32.0818L80.563 37.6219L79.0132 38.5816L75.6153 33.0951C75.1961 32.4182 74.6907 32 74.0991 31.8406C73.512 31.662 72.9156 31.7603 72.3099 32.1354C71.6211 32.5619 71.2242 33.1281 71.1192 33.834C71.0186 34.5206 71.2441 35.3093 71.7958 36.2L74.8627 41.1521L73.3129 42.1119L69.915 36.6253C69.4958 35.9484 68.9963 35.5266 68.4166 35.3599C67.8413 35.1739 67.2628 35.2611 66.6809 35.6215C66.0039 36.0407 65.5988 36.6202 65.4655 37.36C65.3367 38.0806 65.5407 38.8743 66.0776 39.7413L69.1445 44.6934L67.5947 45.6532L62.0787 36.7465L63.6285 35.7867L64.3676 36.9802C64.3849 35.655 64.9755 34.6321 66.1393 33.9113C67.3387 33.1685 68.5242 33.1326 69.6956 33.8037C69.688 32.4119 70.3076 31.3298 71.5546 30.5575Z' fill='white'/%3e%3cpath d='M94.2667 22.7629L93.6705 21.0625L95.3907 20.4593L98.8575 30.3455L97.1373 30.9488L96.541 29.2483C96.155 30.8492 95.1381 31.9385 93.4904 32.5163C92.0931 33.0062 90.7377 32.919 89.4242 32.2547C88.0928 31.5817 87.1729 30.5203 86.6644 29.0703C86.1605 27.6335 86.2184 26.2366 86.8379 24.8795C87.4574 23.5225 88.4592 22.6013 89.8433 22.1159C91.491 21.5381 92.9655 21.7538 94.2667 22.7629ZM93.1255 30.7791C94.1273 30.4278 94.8464 29.7981 95.283 28.8901C95.7103 27.9558 95.7505 26.9943 95.4039 26.0056C95.0526 25.0038 94.4229 24.2846 93.5149 23.8481C92.6023 23.3984 91.645 23.3492 90.6432 23.7005C89.6546 24.0472 88.9443 24.6811 88.5124 25.6023C88.0759 26.5103 88.0333 27.4653 88.3846 28.4671C88.7313 29.4557 89.3633 30.1815 90.2805 30.6443C91.1885 31.0809 92.1368 31.1258 93.1255 30.7791Z' fill='white'/%3e%3cpath d='M110.692 22.2169L116.637 26.7629L114.401 27.1108L108.917 22.9384L109.681 27.8452L107.88 28.1254L105.625 13.6327L107.426 13.3524L108.782 22.0688L112.542 16.7974L114.861 16.4367L110.692 22.2169Z' fill='white'/%3e%3cpath d='M135.369 21.9765L126.592 21.7758C126.752 22.7016 127.162 23.4376 127.82 23.9836C128.478 24.5156 129.31 24.7931 130.316 24.8161C131.698 24.8477 132.715 24.361 133.367 23.3559L134.897 24.2712C133.828 25.8256 132.274 26.5795 130.235 26.5329C128.587 26.4952 127.244 25.9475 126.206 24.8898C125.197 23.8048 124.711 22.4733 124.747 20.8953C124.783 19.3032 125.323 18.0022 126.366 16.9921C127.409 15.968 128.741 15.4745 130.361 15.5116C131.897 15.5467 133.135 16.1199 134.073 17.2312C135.026 18.3149 135.486 19.6249 135.45 21.161C135.444 21.4263 135.417 21.6982 135.369 21.9765ZM130.322 17.2293C129.358 17.2072 128.542 17.461 127.873 17.9907C127.218 18.5206 126.803 19.2516 126.628 20.1838L133.625 20.3438C133.493 19.3767 133.126 18.6208 132.524 18.0761C131.922 17.5313 131.187 17.2491 130.322 17.2293Z' fill='white'/%3e%3cpath d='M144.86 27.8894C144.488 27.825 144.194 27.6394 143.978 27.3326C143.762 27.0258 143.686 26.6866 143.75 26.315C143.814 25.9434 144 25.6494 144.307 25.4332C144.614 25.217 144.953 25.1411 145.324 25.2054C145.71 25.2722 146.004 25.4578 146.206 25.7622C146.422 26.069 146.498 26.4082 146.434 26.7798C146.37 27.1515 146.184 27.4454 145.877 27.6616C145.584 27.8802 145.245 27.9561 144.86 27.8894Z' fill='white'/%3e%3cpath d='M160.328 25.8483L163.578 32.5897L161.426 31.8899L158.419 25.6901L156.883 30.4125L155.15 29.8488L159.685 15.9006L161.419 16.4644L158.691 24.8532L164.427 21.8492L166.659 22.5749L160.328 25.8483Z' fill='white'/%3e%3cpath d='M182.398 31.2005L174.165 35.3941L179.109 37.9687L178.305 39.5111L171.151 35.7847L171.712 34.7069L179.926 30.5036L175.373 28.1322L176.176 26.5898L182.959 30.1226L182.398 31.2005Z' fill='white'/%3e%3cpath d='M204.309 52.5688L198.767 47.2984L199.98 46.023L205.522 51.2934L204.309 52.5688Z' fill='white'/%3e%3cpath d='M220.864 80.7046L228.971 78.8853L229.888 80.5569L219.141 82.749L218.244 81.1141L223.862 75.2357L215.886 76.8156L214.989 75.1807L222.611 67.2939L223.529 68.9656L217.657 74.8162L225.827 73.1539L226.673 74.697L220.864 80.7046Z' fill='white'/%3e%3cpath d='M230.75 101.243L228.141 92.8603C227.315 93.3077 226.748 93.9303 226.44 94.7283C226.146 95.5221 226.148 96.3991 226.447 97.3594C226.858 98.6799 227.644 99.4887 228.804 99.7858L228.425 101.528C226.61 101.01 225.4 99.7773 224.794 97.83C224.304 96.2562 224.395 94.8089 225.067 93.488C225.773 92.1855 226.88 91.2997 228.387 90.8307C229.907 90.3574 231.313 90.454 232.603 91.1205C233.906 91.7828 234.799 92.8875 235.28 94.4347C235.737 95.9018 235.588 97.2574 234.834 98.5015C234.111 99.7506 233.016 100.604 231.549 101.06C231.295 101.139 231.029 101.2 230.75 101.243ZM233.64 94.9453C233.353 94.025 232.852 93.3323 232.137 92.8674C231.426 92.4157 230.601 92.2556 229.661 92.3871L231.741 99.0692C232.616 98.636 233.215 98.0472 233.539 97.3026C233.864 96.558 233.897 95.7722 233.64 94.9453Z' fill='white'/%3e%3cpath d='M240.244 121.211C240.351 122.394 240.054 123.374 239.353 124.153C238.654 124.946 237.664 125.4 236.384 125.516L229.894 126.103L229.73 124.287L236.157 123.706C236.95 123.634 237.55 123.369 237.958 122.912C238.38 122.467 238.56 121.89 238.495 121.18C238.422 120.373 238.094 119.765 237.51 119.355C236.941 118.957 236.135 118.806 235.091 118.9L229.29 119.425L229.126 117.61L235.553 117.028C236.346 116.956 236.947 116.699 237.355 116.255C237.779 115.824 237.96 115.268 237.899 114.586C237.827 113.793 237.49 113.171 236.888 112.721C236.302 112.283 235.501 112.11 234.485 112.202L228.684 112.727L228.52 110.911L238.954 109.967L239.118 111.783L237.72 111.909C238.897 112.518 239.547 113.504 239.67 114.867C239.798 116.272 239.299 117.348 238.174 118.095C239.422 118.712 240.112 119.75 240.244 121.211Z' fill='white'/%3e%3cpath d='M237.044 145.009L238.832 145.238L238.601 147.046L228.209 145.719L228.44 143.911L230.227 144.139C228.968 143.077 228.45 141.68 228.671 139.948C228.858 138.479 229.543 137.306 230.726 136.429C231.923 135.54 233.284 135.193 234.809 135.388C236.319 135.58 237.542 136.258 238.478 137.419C239.414 138.581 239.789 139.889 239.603 141.344C239.382 143.076 238.529 144.298 237.044 145.009ZM230.388 140.4C230.253 141.453 230.494 142.378 231.111 143.175C231.755 143.975 232.596 144.442 233.636 144.574C234.689 144.709 235.614 144.468 236.411 143.851C237.221 143.237 237.694 142.403 237.828 141.35C237.961 140.31 237.712 139.392 237.082 138.593C236.466 137.796 235.631 137.33 234.578 137.196C233.539 137.063 232.607 137.303 231.782 137.916C230.985 138.533 230.52 139.36 230.388 140.4Z' fill='white'/%3e%3cpath d='M230.178 159.941L223.451 163.221L224.141 161.066L230.327 158.031L225.598 156.516L226.154 154.78L240.122 159.253L239.567 160.989L231.166 158.299L234.195 164.022L233.48 166.257L230.178 159.941Z' fill='white'/%3e%3cpath d='M219.343 182.113L223.453 174.355C222.553 174.084 221.712 174.12 220.929 174.464C220.158 174.815 219.538 175.435 219.067 176.323C218.42 177.545 218.399 178.673 219.006 179.706L217.503 180.664C216.592 179.012 216.614 177.284 217.568 175.482C218.34 174.025 219.431 173.07 220.841 172.616C222.263 172.199 223.672 172.36 225.066 173.099C226.474 173.845 227.395 174.91 227.831 176.295C228.28 177.686 228.125 179.098 227.366 180.53C226.647 181.888 225.581 182.738 224.167 183.079C222.771 183.446 221.394 183.27 220.036 182.551C219.802 182.427 219.571 182.281 219.343 182.113ZM225.848 179.726C226.299 178.874 226.438 178.031 226.264 177.195C226.083 176.373 225.615 175.674 224.86 175.1L221.584 181.285C222.508 181.6 223.348 181.61 224.105 181.316C224.862 181.021 225.443 180.491 225.848 179.726Z' fill='white'/%3e%3cpath d='M202.43 196.903C202.687 196.628 203.003 196.483 203.378 196.47C203.754 196.456 204.079 196.578 204.355 196.835C204.631 197.093 204.776 197.409 204.789 197.784C204.802 198.159 204.68 198.484 204.423 198.76C204.156 199.046 203.84 199.191 203.475 199.194C203.1 199.207 202.774 199.085 202.498 198.828C202.222 198.571 202.078 198.255 202.064 197.88C202.042 197.515 202.164 197.19 202.43 196.903Z' fill='white'/%3e%3cpath d='M195.68 210.97L188.259 210.005L190.021 208.586L196.857 209.458L193.743 205.59L195.163 204.447L204.36 215.872L202.94 217.015L197.408 210.144L196.787 216.589L194.959 218.061L195.68 210.97Z' fill='white'/%3e%3cpath d='M179.13 226.521L180.121 217.335L175.262 220.066L174.41 218.55L181.443 214.598L182.038 215.657L181.066 224.832L185.541 222.317L186.393 223.833L179.726 227.58L179.13 226.521Z' fill='white'/%3e%3cpath d='M149.258 233.181L156.701 231.423L157.106 233.136L149.662 234.893L149.258 233.181Z' fill='white'/%3e%3c/svg%3e ");
      border-radius: 50%;
      transition: opacity 0.6s ease-in-out 0.2s;
      opacity: 0;
      animation: rotateBall 8s linear infinite forwards 0.2s;
      will-change: transform;
    }
    &::before {
      position: absolute;
      content: "";
      width: 15%;
      height: 15%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='43' height='50' viewBox='0 0 43 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M40.3867 21.5832C42.947 23.1416 42.947 26.8584 40.3867 28.4168L6.07978 49.2993C3.4142 50.9218 1.54157e-06 49.003 1.67798e-06 45.8825L3.50358e-06 4.11753C3.63998e-06 0.996967 3.41421 -0.92179 6.07979 0.70074L40.3867 21.5832Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 50%;
      top: 50%;
      transition: transform 0.6s ease-in-out 0.2s;
      transform: translate(-50%, -50%) scale(0) rotate(-180deg);
      z-index: 2;
      will-change: transform;
    }
  }
  .image-container {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease-in-out 0.2s;
    }
    &:hover {
      img {
        transform: scale(0.95);
      }
      .image-container__shape {
        opacity: 1;
        &::after {
          opacity: 1;
        }
        &::before {
          transform: translate(-50%, -50%) scale(1) rotate(0);
        }
      }
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-slide__head {
  margin-bottom: calc($index * 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .user__image {
    flex: 0 0 auto;
    width: calc($index * 4);
    height: calc($index * 4);
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .user__name {
    font-size: calc($index * 1.2);
  }
  .user__from {
    font-size: calc($index * 0.8);
    color: $brand-gray;
  }
}
.swiper-slide__body {
  font-size: calc($index * 0.6);
  padding-left: calc($index);
  margin-left: calc($index * 2);
  border-left: 1px solid #9b9b9b;
  line-height: 180%;
  p {
    @include pruning(9);
  }
  padding-bottom: 5vw;
  @media (max-width: 1280px) {
    padding-bottom: 2vw;
    p {
      @include pruning(7);
    }
  }
  @media (max-width: 1024px) {
    margin-left: 0;
    font-size: calc($index);
  }
}

.swiper-slider__footer {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.slider-timer-nav {
  gap: 16px;
  width: fit-content;
  position: relative;
  display: flex;
  .swiper-button-prev,
  .swiper-button-next {
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid $brand-primary;
    position: static;
    transform: none;
    margin: 0;
    &::after {
      display: none;
    }
    &:hover {
      background-color: $brand-primary;
    }
    &:active {
      opacity: 0.5;
    }
  }
  .slider-timer {
    .origami {
      width: 62px;
      height: 62px;
    }
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-51%);
    opacity: 0;

    &.start {
      opacity: 1;
      .slider-timer-path {
        stroke-dasharray: 0, 100;
        animation: rotationSpiner 4s linear forwards 0s;
      }
    }
  }
}

.slide-video,
.slide-review {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  &::before {
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover {
    text-decoration: underline;
  }
}

.slide-video::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='32' height='32' rx='16' fill='white'/%3e%3cpath d='M23 16L13 22L13 10L23 16Z' fill='%2326272C'/%3e%3c/svg%3e ");
}

.slide-review::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='32' viewBox='0 0 25 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.93684 0.285698C1.72366 0.609788 0.537629 1.7938 0.213804 3.00419C0.027792 3.69924 -0.0314046 7.74141 0.015157 16.5415L0.0813729 29.088L0.631455 29.9785C0.933988 30.4684 1.61837 31.1044 2.15231 31.3917C3.09571 31.8995 3.36221 31.9165 11.5968 31.9866C16.7642 32.0307 20.5818 31.9638 21.3806 31.8152C23.0189 31.5104 23.9939 30.8243 24.5543 29.5824C24.9488 28.7078 24.9902 27.9252 24.9949 21.2677L25 13.9182L18.8057 13.8485C12.7176 13.7797 12.6022 13.7693 12.0788 13.2424C11.5549 12.7149 11.5451 12.6044 11.477 6.35319L11.4078 0L7.61639 0.0242595C5.53118 0.0376848 3.42538 0.15545 2.93684 0.285698ZM13.5894 5.92029L13.6521 11.6587L19.2091 11.7219C24.2405 11.7791 24.766 11.7482 24.766 11.3968C24.766 11.0584 16.5812 2.43185 14.9041 1.00265C13.4733 -0.216452 13.5204 -0.392393 13.5894 5.92029Z' fill='white'/%3e%3c/svg%3e ");
}

@keyframes rotationSpiner {
  from {
    stroke-dasharray: 0, 100;
  }
  to {
    stroke-dasharray: 100, 100;
  }
}

@media (max-width: 576px) {
  .swiper-slider__footer {
    justify-content: center;
  }
  .slider-section__slider .main-slider__descr {
    font-size: calc($index * 2);
  }
}

.bg-wrap {
  z-index: -1;
  position: relative;
  opacity: 0.5;
  .blue-bg {
    transform: translateY(-100%);
  }
}

@media (max-width: 1440px) {
  .partners__wrapper {
    flex-direction: column;
  }
  .partners__wrapper .partners__icons {
    flex: 0 0 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .header__nav,
  .header__lang {
    display: none;
  }
  .header__right .burger-menu {
    display: flex;
  }
  .about-section__wrapper {
    flex-direction: column;
    .about-section__block {
      flex: 0 0 100%;
      width: 100%;
    }
    .about-section__block-btns {
      justify-content: space-between;
    }
    .about-section__slider {
      width: 100%;
      flex: 0 0 100%;
    }
  }
  .about-section__wrapper .about-section__slider::before {
    display: none;
  }
  .form-section__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-section__title {
    line-height: 1.2;
  }
}

@media (max-width: 992px) {
  .slider-section__slider .main-slider__title {
    flex-direction: column;
  }
  .slider-section__slider {
    .slider-action {
      display: none;
    }
    padding-left: 0;
  }
  .slider__footer {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-slider__navigation {
    padding-bottom: 20px;
    // order: -1;
  }
  .slider-section__slider .slide__text {
    flex: 0 0 100%;
  }
  .slider-section__slider .slide__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: -2;
    opacity: 0.1;
    display: none;
  }
  .slider-section__slider {
    .blue-bg {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .works-list .works-list__item.large,
  .about-section {
    display: none;
  }

  .works-list .works-list__item {
    &:nth-of-type(1) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-of-type(7) {
      grid-column: 2;
      grid-row: 4;
    }
    &:nth-of-type(9) {
      grid-column: 2;
      grid-row: 5;
    }
    &:nth-of-type(11) {
      grid-column: 2;
      grid-row: 6;
    }
  }
  .form-section__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .form-section__link {
    font-size: 28px;
    text-decoration: underline;
  }
  .form__title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .mobile-menu {
    top: 94px;
  }
  .header__wrapper {
    padding: 15px 0;
  }
  .header__right .phone-ico {
    width: 35px;
    height: 35px;
  }
  .phone-block > .phone-link {
    display: none;
  }
  .phone-block .phone-block__dropdown {
    left: inherit;
    min-width: 280px;
  }
  .header__right .phone-block {
    padding: 0px 10px;
  }

  .partners__wrapper .partners__icons .partners__icon {
    height: 20vw;
    flex: 1 0 calc(50% - 30px);
    padding: 15px;
  }
  .partners__wrapper .partners__icons {
    gap: 15px;
  }
  .form-section,
  .warranty,
  .about-section,
  .projects-section,
  .slider-section,
  .we-do,
  .partners,
  .marquee-section {
    padding: 75px 0;
  }
}

@media (max-width: 576px) {
  .warranty__wrapper .warranty__text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .form-section__wrapper {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .we-do__list .list-item {
    width: 80vw;
    height: 80vw;
    padding: 13vw;
  }
  .we-do__list .list-item.grad .list-item__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .we-do__list .list-item__title {
    font-size: 5vw;
  }
  .we-do__list .list-item__descr {
    margin-bottom: 15px;
    font-size: 3vw;
  }

  .form-section,
  .warranty,
  .about-section,
  .projects-section,
  .slider-section,
  .we-do,
  .partners,
  .footer,
  .marquee-section,
  .who-we,
  .why-we {
    padding: 40px 0;
  }
  .styles-text-input {
    padding: 20px 24px;
  }
}

@media (max-width: 450px) {
  // .partners__wrapper .partners__icons .partners__icon {
  //   flex: 0 0 100%;
  // }
  .slider-section__slider .slide__btns {
    justify-content: space-between;
    gap: 0;
    .btn {
      width: 47%;
    }
  }
  .slider-section {
    height: calc(100vh - 94px);
    .container {
      height: 100%;
    }
  }
  .is-desctop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  .all-project a {
    width: 100%;
  }
  .swiper-slider__footer {
    .btn {
      width: 100%;
    }
  }
  .slider__footer .slider__footer-links {
    // margin-right: 0;
    // width: 100%;
    // justify-content: space-between;
    // flex-direction: row-reverse;
    display: none;
  }
  .slider-section__slider .main-slider__title {
    font-size: calc($index * 4);
  }
  // .slide__btns .btn {
  //   width: 100%;
  // }
  .slider-section__slider {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .main-slider__navigation .slider-counter {
    margin-right: 15px;
    .current-counter {
      font-size: 28px;
    }
    .general-counter {
      font-size: 14px;
    }
  }
  .main-slider__navigation .swiper-pagination-progressbar {
    margin-right: 15px;
  }
  .slider__footer {
    margin-top: 40px;
  }

  .slider-section {
    // padding-bottom: 60px;
  }
  .swiper-slider__footer {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .submit-btn {
    width: 100%;
  }
}

.marquee-section {
  overflow: hidden;
  padding: 60px 0;
  background-color: $brand-primary;
  color: #ffffff;
  .section-descr {
    color: #ffffff;
  }
}

.marquee__wrapper {
  display: flex;
  align-items: center;
}
.marquee {
  height: 150px;
}
.about-section {
  padding-top: 75px;
  padding-bottom: 75px;
  overflow: hidden;
}

.about-section__slider {
  overflow: visible;
  .review {
    max-width: 400px;
    padding: 30px;
    height: auto;
    background: linear-gradient(146.39deg, #292a2f 0%, #4b4c50 100%);
  }
  .review__descr {
    @include pruning(7);
    margin-bottom: 40px;
  }
  .review__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .review__avatar {
    margin-right: 10px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
  .review__info-descr {
    font-size: 14px;
    color: $brand-gray;
  }
  .slide__links {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    a {
      margin-top: 0;
    }
  }
}

.about-section__wrapper {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  .about-section__block {
    position: relative;
    z-index: 2;
  }
  .about-section__slider {
    z-index: 1;
    &::before {
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      position: absolute;
      content: "";
      background: #202020;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
  .about-section__block-btns {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 400px) {
      gap: 20px;
    }
  }
  .about-section__block {
    flex: 0 0 25%;
  }
}

.we-do {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  .bg-wrap .blue-bg {
    transform: translate(75%, 80%) scale(0.6);
    left: 0;
    top: 50%;
  }
}
.we-do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-right: -15px;
  // margin-left: -15px;
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 15px;
    width: 406px;
    height: 406px;
    border-radius: 50%;
    padding: 100px 60px;
    border: 1px solid $brand-primary;
    transition: background-color 0.3s ease-in-out;
    svg path {
      transition: fill 0.3s ease-in-out;
    }
    &:hover {
      background-color: $brand-primary;
      .list-item__descr {
        color: #ffffff;
      }
      svg path {
        fill: #fff;
      }
    }

    &.grad {
      border: none;
      position: relative;
      overflow: hidden;

      &::after {
        background: rgb(4, 99, 241);
        background: linear-gradient(
          0deg,
          rgba(4, 99, 241, 1) 0%,
          rgba(255, 33, 33, 1) 33%,
          rgba(37, 241, 4, 1) 66%,
          rgba(241, 217, 4, 1) 100%
        );
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #202020;
        z-index: 1;
        animation: rotateBall 3s ease-in-out infinite 0s;
      }
      &::before {
        border-radius: 50%;
        transform: scale(0.99);
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #202020;
        transition: transform 0.3s ease-in-out;
      }
      .list-item__wrap {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
      &:hover {
        &::before {
          transform: scale(0.95);
        }
      }
    }
  }
  @keyframes rotateBall {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .list-item__title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 8px;
  }
  .list-item__descr {
    transition: color 0.3s ease-in-out;
    margin-bottom: 30px;
    color: $brand-gray;
    font-size: 14px;
    @include pruning(5);
  }
  .list-item__link {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 15px;
    &:hover {
      text-decoration: underline;
    }
    display: none;
  }
}

.partners {
  padding-bottom: 75px;
  padding-top: 75px;
}

.partners__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  .partners__icons {
    flex: 0 0 66.66%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    .partners__icon {
      background: linear-gradient(146.39deg, #292a2f 0%, #4b4c50 100%);
      overflow: hidden;
      width: 262px;
      height: 148px;
      padding: 30px;
      &:hover {
        img {
          transform: scale3d(1.05, 1.05, 1.05);
          opacity: 1;
        }
      }
      img {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
.warranty {
  padding-top: 75px;
  padding-bottom: 100px;
  position: relative;
  .box-shadow {
    position: absolute;
    left: 20%;
    top: 40%;
  }
  .blue-bg {
    top: inherit;
    bottom: 20%;
    right: 10%;
    opacity: 0.6;
    width: 100px;
    height: 100px;
  }
}

.warranty__wrapper {
  max-width: 844px;
  margin: auto;
  border-left: 4px solid $brand-primary;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  .warranty__text {
    font-size: 36px;
    font-weight: 500;
  }
  img {
    margin-left: auto;
  }
}

.form-section {
  padding: 100px 0;
  background-color: $brand-primary;
}
.form-section__wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.form-section__title {
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 30px;
}
.form-section__link {
  font-weight: 500;
  width: fit-content;
  color: #fff;
  font-size: 36px;
  &:hover {
    text-decoration: underline;
  }
}
.form__title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 40px;
  max-width: 406px;
}

.styles-label {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.styles-text-input {
  position: relative;
  z-index: 2;
  padding: 24px;
  border-radius: 8px;
  background-color: transparent;
  max-width: 407px;
  width: 100%;
}
.styles-text {
  z-index: 1;
  position: absolute;
  left: 24px;
  top: 20px;
  color: #6e6e73;
  font-weight: 500;
  transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.sucsesful-submit__ico {
  margin-bottom: 30px;
}
.sucsesful-submit__title {
  font-size: 36px;
  margin-bottom: 12px;
}

[data-styles-field]:not(:placeholder-shown) ~ .styles-text,
[data-styles-field]:focus ~ .styles-text {
  font-size: 12px;
  top: 5px;
}

.form__agreement {
  a {
    margin-left: 5px;
    color: #fff;
    text-decoration: underline;
    display: inline;
  }
  margin-bottom: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  &::before {
    flex: 0 0 auto;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    display: block;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 4C0 1.79086 1.79086 0 4 0H28C30.2091 0 32 1.79086 32 4V28C32 30.2091 30.2091 32 28 32H4C1.79086 32 0 30.2091 0 28V4Z' fill='white'/%3e%3cg clip-path='url(%23clip0_41_4619)'%3e%3cpath d='M13.1661 21.775C12.712 21.7752 12.2764 21.5947 11.9555 21.2733L8.29537 17.6145C7.90154 17.2205 7.90154 16.5819 8.29537 16.188C8.68933 15.7941 9.32794 15.7941 9.72189 16.188L13.1661 19.6322L22.2781 10.5202C22.6721 10.1264 23.3107 10.1264 23.7046 10.5202C24.0985 10.9142 24.0985 11.5528 23.7046 11.9467L14.3768 21.2733C14.0559 21.5947 13.6203 21.7752 13.1661 21.775Z' fill='%230463F1'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_41_4619'%3e%3crect width='16' height='16' fill='white' transform='translate(8 8)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.submit-btn {
  border: 2px solid #fff;
  color: #fff;
  &:hover {
    background-color: #ffffff;
    color: #000;
  }
}
.footer {
  padding: 60px 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  .footer__logo {
    width: 170px;
    height: 54px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }
  .footer__text a {
    color: #fff;
    text-decoration: underline;
    text-align: right;
  }
}

@media (max-width: 576px) {
  .bg-wrap {
    display: none;
  }
  .footer__wrapper .footer__text a {
    text-align: center;
  }
}

.modal-video-movie-wrap {
  padding-bottom: 99.9% !important;
}

.gif-bg {
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  top: -124px;
  width: 100%;
  height: calc(100% + 124px);
  object-fit: cover;
  object-position: center;
  z-index: -2;
  animation: toscale 12s ease infinite 0s;
}

@keyframes toscale {
  0% {
    filter: hue-rotate(0deg) saturate(100%);
    transform: scale(1.1);
  }
  50% {
    filter: hue-rotate(35deg) saturate(200%);
    transform: scale(1);
  }
  100% {
    filter: hue-rotate(0deg) saturate(100%);
    transform: scale(1.1);
  }
}

.who-we {
  padding: 75px 0;
}

.who-we__list,
.why-we__list {
  display: flex;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  .list-item__descr {
    font-size: 26px;
  }
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1 0 calc(25% - 30px);
    padding: 11px;
    border-left: 1px solid $brand-primary;
    @media (max-width: 1320px) {
      flex: 1 0 calc(50% - 30px);
    }
    @media (max-width: 768px) {
      flex: 1 0 calc(100% - 30px);
    }
  }
}

.why-we {
  padding: 75px 0;
}

.why-we__list {
  .list-item {
    border: none;
  }

  .list-item__num {
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 15px;
    color: transparent;
    -webkit-text-stroke: 2px $brand-primary;
  }
  .list-item__title {
    font-size: 24px;
    color: #fff;
  }
  .list-item__descr {
    font-size: 18px;
    color: $brand-gray;
  }
}

.modal-wrapper {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.666);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .modal-body {
    max-width: 554px;
    width: 100%;
  }
  .styles-text-input {
    max-width: initial;
  }
  .form__agreement {
    margin-bottom: 30px;
  }
  .modal-form {
    padding: 50px;
    border-radius: 16px;
    background-color: $brand-primary;
    .submit-btn {
      width: 100%;
    }
  }
  .modal-form__title {
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 40px;
    font-size: 36px;
  }
  .styles-label.area {
    padding: 10px;
    .styles-text-input {
      padding: 10px;
      min-height: 120px;
    }
  }
  .modal-form__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .close-btn {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1211 12.0005L23.5608 2.56186C24.1467 1.9759 24.1467 1.02587 23.5608 0.439959C22.9748 -0.146002 22.0248 -0.146002 21.4389 0.439959L12.0002 9.87954L2.56161 0.439959C1.97565 -0.146002 1.02563 -0.146002 0.439714 0.439959C-0.146199 1.02592 -0.146246 1.97594 0.439714 2.56186L9.8793 12.0005L0.439714 21.4391C-0.146246 22.0251 -0.146246 22.9751 0.439714 23.561C1.02567 24.1469 1.9757 24.147 2.56161 23.561L12.0002 14.1214L21.4388 23.561C22.0248 24.147 22.9748 24.147 23.5607 23.561C24.1467 22.975 24.1467 22.025 23.5607 21.4391L14.1211 12.0005Z' fill='white'/%3e%3c/svg%3e ");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.12);
    }
  }
  .upload-field {
    margin-bottom: 30px;
    height: 150px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
  }
  .upload-field__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  .upload-field__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      margin-top: 10px;
      color: $brand-gray;
    }
  }
}

@media (max-width: 480px) {
  .modal-wrapper .modal-form {
    padding: 30px;
  }
}

.contact-section {
  padding-top: 150px;
}
.contact-section__main-title {
  font-size: 64px;
  margin-bottom: 40px;
}
.contact-section__wrapper {
  padding-bottom: 60px;
  border-bottom: 1px solid $brand-gray;
  display: flex;
  gap: 30px;
  align-items: stretch;
  .contact-section__block {
    flex: 1 0 calc(50% - 30px);
  }
  .phone-link {
    width: fit-content;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    line-height: 120%;
    &:hover {
      text-decoration: underline;
    }
  }
  .phone_nameplate {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .contact-section__emails {
    flex-wrap: wrap;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;
  }
  .contact-section__email {
    flex: 0 0 calc(50% - 30px);
    a {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #0463f1;
      text-decoration: underline;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .email-nameplate {
    font-size: 18px;
    font-weight: 400;
  }
}
.contact-section__block.second {
  background: linear-gradient(146.39deg, #292a2f 0%, #4b4c50 100%);
  padding: 60px;
  .contact-section__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .contact-section__descr {
    margin-bottom: 30px;
  }
  .ghostBtn {
    margin-bottom: 60px;
  }
  .contact-section__socials {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }
  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 40%;
    background-color: $brand-primary;
    transition: border-radius 0.3s ease-in-out;
    svg {
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      border-radius: 50%;
      svg {
        transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 1200px) {
  .contact-section__block.second {
    padding: 30px;
  }
}
@media (max-width: 1080px) {
  .contact-section__wrapper {
    flex-direction: column;
  }
  .contact-section {
    padding-top: 75px;
  }
}

@media (max-width: 768px) {
  .contact-section__block.second .social-link {
    width: 48px;
    height: 48px;
    svg {
      transform: scale(0.7);
    }
  }
}

@media (max-width: 576px) {
  .contact-section__main-title {
    margin-bottom: 30px;
    font-size: 38px;
  }
  .contact-section__wrapper .phone-link,
  .contact-section__wrapper .contact-section__email a {
    text-decoration: underline;
    font-size: 28px;
  }
  .contact-section__wrapper .phone_nameplate {
    margin-bottom: 15px;
  }
  .contact-section__block.second .social-link {
    flex: 0 0 auto;
    width: 38px;
    height: 38px;
  }
  .contact-section__block.second .contact-section__socials {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px;
  }
  .contact-section__block.second .contact-section__title {
    font-size: 28px;
  }
  .contact-section__block.second {
    // border-radius: 5px;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .contact-section__block.second .ghostBtn {
    margin-bottom: 30px;
  }
}

#section-form {
  position: relative;
  transition: opacity 0.2s ease;
  .sucsesful-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }
  &._sending {
    opacity: 0.4;
  }
  &.sent {
    .section-form__body {
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    .sucsesful-submit {
      opacity: 1;
      visibility: visible;
    }
  }
}
.modal-form {
  position: relative;
  &._sending {
    opacity: 0.4;
  }
  &.sent {
    .modal-form__body {
      opacity: 0;
      transition: opacity 0.2s ease, visibility 0.2s ease;
    }
    .sucsesful-submit {
      opacity: 1;
      visibility: visible;
    }
    .modal-form__title {
      opacity: 0;
    }
  }

  .sucsesful-submit {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.privacy-section {
  padding-top: 100px;
  color: rgba(110, 110, 115, 1);
  .container.small {
    max-width: 900px;
  }
  p {
    margin-bottom: 10px;
  }
}
.privacy-section__title,
.privacy-section__subtitle {
  text-transform: uppercase;
  color: #fff;
}
.privacy-section__title {
  margin-bottom: 60px;
  font-size: 64px;
  font-weight: 400;
}
.privacy-section__subtitle {
  margin-top: 50px;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 10px;
}
